<div class='welcome'>
  <h1>Celebrity Wiki</h1>
  <p>I have to return some videotapes.</p>
  <div>
    <a class='signup-home' href="/user/signup">Sign up</a>
    <a class='home-login' href="/user/login">Login</a>
  </div>
</div>