<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Celeb Wiki</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  
</head>

<body>

  <nav class='navbar'>

    {{!-- if admin logged in,then can delete and create new account  --}}
    {{#if theUser.isAdmin}}
    <a href="/admin/create-new-account">Create New User</a>
    <a href="/admin/active-users">See All Users</a>
    {{/if}}

    {{!-- if logged in  --}}
    {{#if theUser}}
    <a href="/celebrity"> List of Celebrities </a>
    <a href="/celebrity/new"> Add New Celebrity </a>
    <a href="/movies"> List of All Movies </a>
    <a href="/movies/new"> Add New Movie </a>
    <a href="/user/logout"> Logout </a>

    {{else}}
    <a href="/"> Home </a>
    <a href="/user/login"> Login </a>
    <a href="/user/signup"> Sign Up </a>

    {{/if}}



  </nav>

  {{{body}}}

<div>
  {{#if errorMessage}}
  <div class='error-message'>{{errorMessage}}</div>
  {{/if}}

  {{#if SuccessMessage}}
  <div class='success-message'>{{SuccessMessage}}</div>
  {{/if}}
</div>


  <script src="/javascripts/script.js"></script>
</body>

</html>