<div class='welcome'>
  <h1>Celebrity Wiki</h1>
  <p>Welcome! Let's learn some celeb stuff</p>
  {{!-- <a href="/celebrity">View Celebrities</a> --}}
  <div>
    <a href="/logout">Logout</a>
  </div>
</div>


