{{!-- page for users to delete their own account --}}

<h1>Profile Page</h1>

<h3>{{theUser.username}}</h3>

<form action="account/delete-my-account" method="POST">

<button type='submit'> Delete </button>

</form>